@import 'theme-variable';

.btn-outline-secondary {
  color: darken($secondary, 20%);
}

.btn-outline-light {
  color: color-yiq($light);
}

.dropdown-menu {
  animation-fill-mode: forwards;
  display: block;
  opacity: 0;
  transform: scale(0.9, 0.5) translateY(-20px);
  transform-origin: top;
  transition: all 200ms ease;
  visibility: hidden;
}

.show {
  .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
    visibility: visible;
  }
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1;
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

.fs-60 {
  font-size: 60px;
}

.fs-45 {
  font-size: 45px;
}

.fs-34 {
  font-size: 34px;
}

.fs-24 {
  font-size: 24px;
}

.pt-15 {
  padding-top: 9rem;
}

.pb-10 {
  padding-bottom: 6rem;
}

.m-auto {
  margin: auto;
}

.lh-40 {
  line-height: 40px;
}

.lh-37 {
  line-height: 37px;
}

.mw-900 {
  max-width: 900px;
}

.mw-1480 {
  max-width: 1480px;
}

.tooltip {
  background: #b2b2b2 0% 0% no-repeat padding-box;
  border: 2px solid #535353;
  border-radius: 15px;
  color: #535353;

  ::after,
  ::before {
    display: none !important;
  }
}

.tooltip-badge {
  color: #fff;
}

.grade-badge-tooltip {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  border: 2px solid #b2b2b2;
  border-radius: 15px;

  ::before {
    border-bottom-color: #b2b2b2 !important;
  }

  ::after {
    border-bottom-color: #f0f0f0 !important;
  }
}

.pink-container {
  background: #ffadad80 0% 0% no-repeat padding-box;
  height: 108px;
  width: 192px;
}

[role='grid'] + [role='grid'] {
  margin-top: 1em;
}

[role='grid'] {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  display: grid;
  font-size: 1em;
  height: 800px;
  overflow-y: auto;
  width: 100%;
  // border-bottom-left-radius: 30px;
  // border-bottom-right-radius: 40px;
  // position: relative;
}

[role='grid'] > div {
  border-bottom: 5px dashed #f0f0f0;
}

[role='columnheader'] {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  color: #535353;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 90px;
  padding: 5px;
  position: sticky;
  top: 0;

  &:first-child {
    padding-bottom: 30px;
  }
}

[role='gridcell'] {
  background-color: #fff;
  line-height: 60px;
  padding: 5px;
  vertical-align: middle;

  &:nth-child(10n + 2),
  &:nth-child(10n + 4) {
    border-left: 5px dashed #f0f0f0;
  }
}

[role='gridcell'] > div {
  margin-top: 5px;
  min-width: 150px;
}

[role='columnheader'],
[role='gridcell'] {
  &:first-child,
  &:nth-child(10n + 1) {
    min-width: 350px;
    padding-right: 30px;
    text-align: right;
  }

  &:nth-child(10n + 2) {
    padding-left: 30px;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
  border-radius: 10px;
}

.badge-pill {
  align-items: center;
  display: flex;
  font: normal normal bold 14px/19px Roboto Mono;
  font-size: 12px;
  height: 18px;
  justify-content: center;
  padding: 0;
  width: 18px;
}

.table-container-border {
  border: 1px solid #b2b2b2;
  border-radius: 20px;
  overflow: hidden;
}

.scatter-plot {
  .tick {
    line {
      stroke: #f0f0f0;
      stroke-dasharray: 5 7;
      stroke-width: 2px;
    }

    &:first-of-type {
      line {
        stroke-width: 0;
      }
    }
  }

  .domain {
    stroke: #f0f0f0;
    stroke-width: 3px;
  }
}

.scatter-tooltip {
  background: #f0f0f0;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  font: 12px sans-serif;
  height: auto;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: left;
  width: auto;
}

.scatter-plot-container {
  padding: 0 170px;
}

@media (max-width: 1400px) {
  .scatter-plot-container {
    padding: 0 1rem;
  }
}
