@import 'theme-variable';

.btn-outline-secondary {
  color: darken($secondary, 20%);
}

.btn-outline-light {
  color: color-yiq($light);
}

.dropdown-menu {
  animation-fill-mode: forwards;
  display: block;
  opacity: 0;
  transform: scale(.9, .5) translateY(-20px);
  transform-origin: top;
  transition: all 200ms ease;
  visibility: hidden;
}

.show {
  .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
    visibility: visible;
  }
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1;
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

.fs-60 {
  font-size: 60px;
}

.fs-45 {
  font-size: 45px;
}

.fs-34 {
  font-size: 34px;
}

.fs-24 {
  font-size: 24px;
}

.pt-15 {
  padding-top: 9rem;
}

.pb-10 {
  padding-bottom: 6rem;
}

.lh-40 {
  line-height: 40px;
}

.lh-37 {
  line-height: 37px;
}

tbody {
  background-color: #fff;
}

td,
th {
  border: dashed 1px #f0f0f0 !important;
  height: 25px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.table-container {
  height: 730px;
  overflow: auto;
}

.tooltip {
  background: #b2b2b2 0% 0% no-repeat padding-box;
  border: 2px solid #535353;
  border-radius: 15px;
  color: #535353;
}

.tooltip-badge {
  color: #fff;
}

