@import 'theme-variable';

.btn-outline-secondary {
  color: darken($secondary, 20%);
}

.btn-outline-light {
  color: color-yiq($light);
}

.dropdown-menu {
  animation-fill-mode: forwards;
  display: block;
  opacity: 0;
  transform: scale(0.9, 0.5) translateY(-20px);
  transform-origin: top;
  transition: all 200ms ease;
  visibility: hidden;
}

.show {
  .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
    visibility: visible;
  }
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1;
  margin: 0;
}

button {
  &:focus {
    outline: none;
  }
}

.fs-60 {
  font-size: 60px;
}

.fs-45 {
  font-size: 45px;
}

.fs-34 {
  font-size: 34px;
}

.fs-24 {
  font-size: 24px;
}

.pt-15 {
  padding-top: 9rem;
}

.pb-10 {
  padding-bottom: 6rem;
}

.m-auto {
  margin: auto;
}

.lh-40 {
  line-height: 40px;
}

.lh-37 {
  line-height: 37px;
}

.mw-900 {
  max-width: 900px;
}

.mw-1480 {
  max-width: 1480px;
}

tbody {
  background-color: #fff;
}

td,
th {
  border: dashed 1px #f0f0f0 !important;
  height: 25px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.tooltip {
  background: #b2b2b2 0% 0% no-repeat padding-box;
  border: 2px solid #535353;
  border-radius: 15px;
  color: #535353;

  ::after,
  ::before {
    display: none !important;
  }

}

.tooltip-badge {
  color: #fff;
}

.pink-container {
  background: #ffadad80 0% 0% no-repeat padding-box;
  height: 108px;
  width: 192px;
}

[role='grid'] + [role='grid'] {
  margin-top: 1em;
}

[role='grid'] {
  background-color: #fff;
  border: 1px dashed #f0f0f0;
  display: grid;
  font-size: 1em;
  height: 1500px;
  overflow-y: auto;
  width: 100%;
}

[role='grid'] > div {
  border-left: 1px dashed #f0f0f0;
}

[role='columnheader'] {
  background-color: #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px;
  position: sticky;
  top: 0;
}

[role='gridcell'] {
  padding: 2px 5px;
}
